<!-- views/partials/header.ejs -->

<!-- HEADER -->
<header class="header">
  <div class="container">
    <div class="container-left">
      <!-- 로고 -->
      <figure class="logo">
        <a href="/">
          🚈
          <h1 class="site-title">
            <span class="ut-red">UT</span>-NodeJS 최종 프로젝트
          </h1>
        </a>
      </figure>

      <!-- 메뉴 -->
      <%- include('_navigation.ejs') %>
    </div>

    <!-- <div class="container-right">
      <a href="/users/new" class="btn btn-outline-danger">Sign Up</a>
      <a href="/users/login" class="btn btn-outline-primary">Login</a>
    </div> -->
  </div>
</header>
